{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row border mt-4 p-3 meupost">
            <!-- tamanho total da tela igual a 12 (col-3 + col-9) -->
            <div class="col col-3">
                <div class="image pe-2">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                </div>
                <strong>{{ post.autor.username }}</strong>
                <div class="row justify-content-center">
                    {%  for curso in post.autor.cursos.split(';') %}
                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-9">
                <h4>{{ post.titulo }}
                    <small class="text-muted" style="font-size: 15px"> - Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if form_editarpost %}
                            - <a href="#form_editar_post">Editar Post</a>
                            / <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#ExcluirPost"> Excluir Post</a>
                        {% endif %}
                    </small>
                </h4>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
    </div>
    {% if form_editarpost %}
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <form method="POST" action="" id="form_editar_post" class="border p-4 mt-2" >
                        <!-- usar o metodo csrf_token na linha logo abaixo do <form> -->
                        {{ form_editarpost.csrf_token }}
                        <legend>Editar Post</legend>
                        <fieldset>
                            <div class="form-group">
                                {{ form_editarpost.titulo.label(class="form-control-label") }}
                                {% if form_editarpost.titulo.errors %}
                                    {{ form_editarpost.titulo(class="form-control  is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_editarpost.titulo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_editarpost.titulo(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_editarpost.corpo.label(class="form-control-label") }}
                                {% if form_editarpost.corpo.errors %}
                                    {{ form_editarpost.corpo(class="form-control  is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_editarpost.corpo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_editarpost.corpo(class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        {{ form_editarpost.botao_submit_criarpost(class="btn btn-primary mt-2") }}
                    </form>
                </div>
            </div>
        </div>
        
    {% endif %}

<!-- Modal para exclusao do Post - Padrão Bootstrap-->
<div class="modal fade" id="ExcluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <strong>Titulo: {{ post.titulo }}</strong><br>
          Voce quer realmente excluir esse post?
          <p style="color: red"> Essa ação nao pode ser desfeita</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
          </button>
          <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
              <button type="submit" class="btn btn-danger">
                  Excluir Post
              </button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
